@import url('https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:wght@400;500;700&display=swap');
:root{
    --primaryColor: #008838;
    --secondaryColor: #015e29;
    --darkColor: #333;
    --whiteColor: #fff;
    --headingFont:'Ubuntu', sans-serif;
    --commonFont: 'Lato', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: var(--commonFont);
    font-size: 16px;
}
ul{
    list-style: none;
}
a{
    color: var(--primaryColor);
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--headingFont);
}
.btn-theme{
    background-color: var(--primaryColor);
}

